app-nav-bar(*ngIf='_auth.loggedIn()')
.container-fluid
  .test(*ngIf="_auth.loggedIn()") <!-- for select menue -->
  .content([ngClass]="{'content-login': !_auth.loggedIn(), '':_auth.loggedIn()}")
    router-outlet
