.row.login
  .col-md-4.mx-auto
    .card.rounded-0
      .card-header
        h3.mb-0 Login
      .card-body
        form.form
          .form-group
            label(for='') UserName
            input(type='text', required, [(ngModel)] ='loginUserData.username', name='username',[ngClass]="{'is-invalid':invalid, '':!invalid}").form-control.rounded-0
          .form-group
            label(for='') Password
            input(type='password', required, [(ngModel)] ='loginUserData.password', name='password',[ngClass]="{'is-invalid':invalid, '':!invalid}").form-control.rounded-0
            .invalid-feedback(*ngIf='invalid')
              | Invalid Credintials.
          button(type='button', (click)='login()').btn.btn-primary.float-right Login
