.select-menu
  select#inputGroupSelect01.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect02.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect03.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect04.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect05.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect06.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect07.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect08.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect09.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect10.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect11.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect12.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect13.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect14.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect15.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect16.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect17.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect18.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect19.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect20.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect21.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect22.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect23.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect24.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
  select#inputGroupSelect25.custom-select
    option(selected='') Choose...
    option(value='1') One
    option(value='2') Two
    option(value='3') Three
